body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

/* HEADER */
header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

header a {
    color: #00ffcc;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

/* SECTIONS */
section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* HEADINGS */
h2 {
    color: #333;
}

/* SKILLS */
ul {
    list-style-type: square;
}

/* PROJECTS */
.project {
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
}

.project a {
    color: blue;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 15px;
    margin-top: 20px;
}